<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 id="display">Display Page</h1>
            </div>
        <div class="col-md-3"></div>
    </div>

    <% @papers.each do |p| %>
        <div class="row">
            <div class="col-md-3"></div>
                <div class="alert bg-info col-md-6">
                    ID : <%= p.id %> <br>
                    Content : <%= p.content %><br>
                    Nickname : <%= p.nickname %><br>
                    PW : <%= p.password %><br>
                    Date : <%= p.created_at %><br>
                    <a href="/delete/<%= p.id %>">[삭제]</a>
                    <a href="/update_view/<%= p.id %>">[수정]</a>
                </div>
            <div class="col-md-3"></div>
        </div>
    <% end %>
</div>