<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <a href="/reply_content"><img id="airplane1" class="selectAirplane" src="<%= asset_path("airplane1.png") %>"/></a>
      <a href="/reply_content"><img id="airplane2" class="selectAirplane" src="<%= asset_path("airplane2.png") %>"/></a>
      <a href="/reply_content"><img id="airplane3" class="selectAirplane" src="<%= asset_path("airplane3.png") %>"/></a>
      <a href="/reply_content"><img id="airplane4" class="selectAirplane" src="<%= asset_path("airplane4.png") %>"/></a>
      <a href="/reply_content"><img id="airplane5" class="selectAirplane" src="<%= asset_path("airplane5.png") %>"/></a>
      <a href="/reply_content"><img id="airplane6" class="selectAirplane" src="<%= asset_path("airplane6.png") %>"/></a>
      <a href="/reply_content"><img id="airplane7" class="selectAirplane" src="<%= asset_path("airplane7.png") %>"/></a>
    </div>
    <h3 id="replylabel">보고 싶은 이야기를 선택해 주세요</h3>
    <div class="col-md-3"></div>
  </div>
</div>